<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ArcGIS JavaScript Tutorials: Create a JavaScript starter app</title>
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.13/"></script>
</head>
<body>

<div style="height: 80%">
    <div id="viewDiv"></div>
</div>
<select name="" id="rico" onchange="cambioValor(event)">
    <option >Selecciona algo </option>
    <option value="1">Mostrar</option>
    <option value="2">Ocultar</option>
</select>
<script>
    var capaBarrios;
    function ocultar() {
        mapa.remove(capaBarrios)
    }
    function mostrar() {
        capaBarrios = new FeatureLayerSelector({
            url : "https://services6.arcgis.com/a7URR860GLlM8vfi/arcgis/rest/services/Barrios_CentroHistorico_F/FeatureServer/0?token=Uufh4OzqYWj9-T3Q2-IoegD0sCS5Jk775yu_LJ-bYQeRHSp1DZHgmNllHXpQ6I-ifCVvpSS7qgMzYitRAsjVG5mO8naAK9F0eBpei2giM3UBit1lafT7wU-ozar5K93Kcj1x1qpUgd5F8JT44pCXZF3iOioGVhuInHslDXkmz4TKBgCzf27OLo5xGGpJVnhWy3te-_eNmx4CHbLRt6uomb_bx00zmRb8YX6O-pVFBy0cg8q2_NF4YvHzrWSFtnNP"
        });
        mapa.add(capaBarrios)
    }
    function cambioValor(evento){
        console.log('evento', evento);
        const ocultarSeleccionado = evento.target.value === "2";
        if(ocultarSeleccionado){
            ocultar()
        }else{
            mostrar()
        }
    }
</script>

<script>
    var mapa;
    var FeatureLayerSelector;
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/layers/FeatureLayer"
    ], function(Map, MapView,FeatureLayer) {
        FeatureLayerSelector = FeatureLayer
        //Llamada al mapa base
        var map = new Map({
            basemap: "streets"
        });

        var view = new MapView({
            container: "viewDiv",
            map: map,
            center: [-78.183403, -1.831239], // longitude, latitude
            zoom: 7
        });
        mapa = map;
    });
</script>

</body>

</html>