<!DOCTYPE html>
<html lang="en">

<head>
    <title>Acerca-Accesibilidad Física</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo"><img src="/imagenes/logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"><a class="nav-link textMenu" href="inicio">
                        <img src="/imagenes/iconHome.png" class="rounded-circle imgText" alt="icono Inicio">
                        Inicio</a>
                </li>
                <li class="nav-item"><a class="nav-link textMenu" href="resultados">
                        <img src="/imagenes/iconDashboard.png" class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"><a class="nav-link textMenu" href="acerca">
                        <img src="/imagenes/iconAcerca.png" class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid embed-responsive-item" tabindex="1">
        <!-- Texto sobrepuesto en Contenido -->
        <div id="cover" data-aos="fade-down" data-aos-duration="2000">
            <div class="row CoverImage contenedorP2"></div>
        </div>
        <!-- FIN Texto sobrepuesto en Contenido -->
    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->

<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid c" tabindex="2">
        <div class="row">
            <!-- Información Contenido 1 -->
            <div class="col-sm-6">
                <div class="card text-center c-CI">
                    <div class="d-CI">
                        <div class="card-body">
                            <div data-aos="fade-down-right" data-aos-duration="2000">
                                <h5 class="card-title ct-CI">El futuro es brillante si se cuenta con accesibilidad.</h5>
                            </div>

                            <br>
                            <div class="container" data-aos="fade-up-right" data-aos-duration="2000">
                                <ul class="nav nav-tabs nav-justified justify-content-center n-CI">
                                    <li class="nav-item active"><a tabindex="3" class="nav-link active a-Menu"
                                                                   data-toggle="tab"
                                                                   href="#Acerca"> Acerca </a></li>
                                    <li class="nav-item"><a tabindex="4" class="nav-link a-Menu" data-toggle="tab"
                                                            href="#Objetivo">
                                            Objetivo </a></li>
                                    <li class="nav-item"><a tabindex="5" class="nav-link a-Menu" data-toggle="tab"
                                                            href="#Meta">
                                            Meta </a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="Acerca" class="tab-pane fade show active dcon">
                                        <br>
                                        <p>La creciente incorporación de personas con discapacidades al medio laboral o
                                            a la vida social, evidencia cada vez
                                            más la necesidad de adecuar los espacios urbanos, los servicios públicos, el
                                            transporte y los sistemas de comunicación,
                                            a las necesidades reales y condiciones de vida necesarias para el desarrollo
                                            integral de las personas con discapacidad. </p>
                                        <p> La accesibilidad al medio físico busca la eliminación de barreras que
                                            impiden la autonomía personal y el libre
                                            desplazamiento de las personas, es por ello que este proyecto entrega a la
                                            comunidad información derivada del análisis
                                            de un grupo de instituciones públicas que brindan servicios a la ciudadanía
                                            en el Distrito Metropolitano de Quito,
                                            con el fin de evidenciar la accesibilidad física que brindan. </p>

                                    </div>
                                    <div id="Objetivo" class="tab-pane fade dcon">
                                        <br><br><br>
                                        <p>Implementar un aplicativo web que permita cooperar con las estrategias de
                                            difusión de la accesibilidad al medio físico en el
                                            Distrito Metropolitano de Quito (DMQ), apoyando una política inclusiva que
                                            mejore la conciencia, el bienestar social
                                            y la solidaridad ciudadana.</p>
                                    </div>
                                    <div id="Meta" class="tab-pane fade dcon">
                                        <br><br>
                                        <p>La creciente incorporación de personas con discapacidades al medio laboral u
                                            a la vida social, evidencia cada vez más la
                                            necesidad de adecuar los espacios urbanos, los servicios públicos, el
                                            transporte y los sistemas de comunicación, a las
                                            reales necesidades y condiciones de vida de este grupo poblacional. En este
                                            contexto, este trabajo tiene como meta
                                            proporcionar información sobre la accesibilidad al medio físico para
                                            personas con discapacidad motriz, visual y auditiva
                                            en instituciones públicas que prestan atención a la ciudadanía en el
                                            Distrito Metropolitano de Quito (DMQ).
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->

            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-6">
                <div class="card text-center c-img">
                    <div class="d-img">
                        <div class="card-body dc-img" data-aos="zoom-out-down" data-aos-duration="2000">

                            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                <ul class="carousel-indicators">
                                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                                </ul>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100"
                                             src="https://cdn.discordapp.com/attachments/689209569355890761/694375132982018089/buchen-wang-xJGFQagpOxc-unsplash.jpg"
                                             alt="accesibilidad aeropuerto">
                                        <div class="carousel-caption">
                                            Accesibilidad Física
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                             src="https://www.elcomercio.com/files/content_thumbnail_large/uploads/2018/03/08/5aa1e8be26482.jpeg"
                                             alt="Plataforma Gubernamental de Desarrollo Social">
                                        <div class="carousel-caption">
                                            Plataforma Gubernamental de Desarrollo Social
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                             src="https://cdn.pixabay.com/photo/2018/12/09/17/36/handicap-parking-3865315_960_720.jpg"
                                             alt="Espacio de estacionamiento para personas con discapacidad">
                                        <div class="carousel-caption">
                                            Señalización de accesibilidad
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                             src="https://www.ecuavisa.com/sites/default/files/fotos/2018/01/23/plataforma_finaciera-4.jpg"
                                             alt="Plataforma Gubernamental de Gestión Financiera">
                                        <div class="carousel-caption">
                                            Plataforma Gubernamental de Gestión Financiera
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->

        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->




<!--Informacion de discapacidad y formulario -->
<section>

    <div id="content3" class="container-fluid">
        <div class="row row-CI3" tabindex="6">
            <div class="col-sm-12" style="text-align: center">
                <div class="card text-center cardCI2">
                    <div class="div-txtCI2" data-aos="zoom-in-up" data-aos-duration="2000">
                        <div class="card-body cb-CI2">
                            <h3 class="card-title frase3">Discapacidades consideradas para el Análisis</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center c1">
                            <div class="divCards">
                                <div class="card-body cb6-CI3" data-aos="fade-up-right" data-aos-duration="2000"
                                     tabindex="7">
                                    <br>
                                    <img class="card-img-top cit-CI2" src="/imagenes/iconMotriz.png"
                                         alt="icono Dashboard">
                                    <h4 class="card-title cTitleCI2"><br> Discapacidad Motriz</h4>
                                    <p class="card-text cTxtCI2">
                                        <br>La discapacidad motriz es una imposibilidad que limita o impide el desempeño
                                        motor
                                        de la persona afectada, presenta una disminución total o parcial de uno o varios
                                        miembros del cuerpo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center c2">
                            <div class="divCards">
                                <div class="card-body cb6-CI3" data-aos="fade-up" data-aos-duration="2000"
                                     tabindex="8">
                                    <br>
                                    <img class="card-img-top cit-CI2" src="/imagenes/iconVisual.png" alt="icono Acerca">
                                    <h4 class="card-title cTitleCI2"><br> Discapacidad Visual</h4>
                                    <p class="card-text cTxtCI2 ">
                                        <br>Personas que presentan ceguera o baja visión, en los dos casos se refiere a
                                        un
                                        alto grado de pérdida de visión, es decir que no ven absolutamente aún con el
                                        uso de lentes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center c2">
                            <div class="divCards">
                                <div class="card-body cb6-CI3" data-aos="fade-up-left" data-aos-duration="2000"
                                     tabindex="9">
                                    <br>
                                    <img class="card-img-top cit-CI2" src="/imagenes/iconAuditiva.png"
                                         alt="icono Acerca">
                                    <h4 class="card-title cTitleCI2"><br> Discapacidad Auditiva</h4>
                                    <p class="card-text cTxtCI2 ">
                                        <br>Personas con sordera total y/o con sordera moderada y severa de ambos oídos,
                                        la cual dificulta la comunicación con su entorno.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

</section>
<!--FIN-->


<section>
    <div class="col-sm-12">
        <div class="card text-center c-CI" tabindex="10">
            <div class="d-CI">
                <div class="card-body">
                    <div data-aos="fade-up" data-aos-duration="2000">
                        <h5 class="card-title frase4">Modelo de Análisis</h5>
                    </div>
                  <br>
                    <p class="card-text cTxtCI3" data-aos="zoom-out-up" data-aos-duration="2000">
                        Para el desarrollo de la presente investigación se ha tomado en consideración 11
                        Normas del total de las 39 Normas Técnicas Ecuatorianas de Accesibilidad al Medio Físico las
                        mismas que han sido representadas mediante letras del abecedario que van desde la A hasta la K.
                        Las normas seleccionadas fueron encontradas aptas para el análisis de la Accesibilidad al Medio Físico en edificios
                        para las personas que poseen discapacidad Motriz, Visual y/o Auditiva.
                        La información fue recabada a partir de un formulario diseñado en función de las normas
                        mencionadas.
                        <br> <br>
                        A continuación, se mostrarán las 11 Normas utilizadas en el estudio y su representación
                        en preguntas de acuerdo al formulario entregado a las instituciones encuestadas.
                    </p>

                    <br>
                    <div class="container" data-aos="zoom-in-up" data-aos-duration="1800">
                        <ul class="nav nav-tabs nav-justified n-CI2">
                            <li class="nav-item"><a tabindex="13" class="nav-link a-Menu2" data-toggle="tab" href="#NormaA"> Norma A </a></li>
                            <li class="nav-item"><a tabindex="14" class="nav-link a-Menu2" data-toggle="tab" href="#NormaB"> Norma B </a></li>
                            <li class="nav-item"><a tabindex="15" class="nav-link a-Menu2" data-toggle="tab" href="#NormaC"> Norma C </a></li>
                            <li class="nav-item"><a tabindex="16" class="nav-link a-Menu2" data-toggle="tab" href="#NormaD"> Norma D </a></li>
                            <li class="nav-item"><a tabindex="17" class="nav-link a-Menu2" data-toggle="tab" href="#NormaE"> Norma E </a></li>
                            <li class="nav-item"><a tabindex="18" class="nav-link a-Menu2" data-toggle="tab" href="#NormaF"> Norma F </a></li>
                            <li class="nav-item"><a tabindex="19" class="nav-link a-Menu2" data-toggle="tab" href="#NormaG"> Norma G </a></li>
                            <li class="nav-item"><a tabindex="20" class="nav-link a-Menu2" data-toggle="tab" href="#NormaH"> Norma H </a></li>
                            <li class="nav-item"><a tabindex="21" class="nav-link a-Menu2" data-toggle="tab" href="#NormaI"> Norma &nbsp;I </a></li>
                            <li class="nav-item"><a tabindex="22" class="nav-link a-Menu2" data-toggle="tab" href="#NormaJ"> Norma J </a></li>
                            <li class="nav-item"><a tabindex="23" class="nav-link a-Menu2" data-toggle="tab" href="#NormaK"> Norma K </a></li>
                        </ul>

                        <div class="tab-content" >
                            <div id="NormaA" class="tab-pane fade show">
                                <br><br>
                                    <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico Señalización. Requisitos y Clasificación.
                                        <br> NTE INEN 2239:2015</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las características y los requisitos que deben cumplir
                                    las
                                    señales ubicadas en las edificaciones con acceso al público y en los
                                    espacios
                                    urbanos
                                    para proporcionar información, asistencia, orientación y comunicación a
                                    todas
                                    las personas.
                                </p>
                                <img src="/imagenes/FA-Norma1.jpg" class="imgFA center-block"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaB" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas con Discapacidad y Movilidad Reducida al Medio Físico. Terminología.
                                    <br> NTE INEN 2315:2018</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma define los términos utilizados en accesibilidad de las personas
                                    con
                                    discapacidad y
                                    movilidad reducida.
                                </p>
                                <img src="/imagenes/FA-Norma2.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaC" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico. Señalización
                                    para personas con Discapacidad Visual en espacios urbanos y en edificios con acceso
                                    al público. Señalización en Pisos y Planos Hápticos. NTE INEN 2854:2015</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma contiene los requisitos para la planificación y ejecución de la
                                    señalización
                                    en pisos
                                    y planos hápticos, para la orientación y desplazamiento en forma autónoma,
                                    de
                                    las
                                    personas con
                                    discapacidad visual, en espacios urbanos y en edificios con acceso al
                                    público.
                                </p>
                                <p class="card-text cTxtCI3">
                                    Especifica requisitos de aplicación en la señalización en estaciones
                                    ferroviarias y de
                                    transporte
                                    automotor, aeropuertos, centros de transferencia y grandes espacios sin
                                    pautas
                                    de
                                    referencia para la
                                    orientación y el desplazamiento.
                                </p>
                                <img src="/imagenes/FA-Norma3.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaD" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas con Discapacidad y Movilidad
                                    Reducida al medio Físico. Vías de Circulación Peatonal. <br> NTE INEN 2243:2016</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones mínimas y las características de diseño
                                    que
                                    deben
                                    cumplir las
                                    vías de circulación peatonal, tanto públicas como privadas en exteriores.
                                </p>
                                <img src="/imagenes/FA-Norma4.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaE" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico. Estacionamientos.
                                    <br> NTE INEN 2248:2016</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece los requisitos que deben tener las plazas de
                                    estacionamiento
                                    vehicular.
                                </p>
                                <img src="/imagenes/FA-Norma5.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaF" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico Puertas: Requisitos.
                                    <br> NTE INEN 2309:2018</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones mínimas y/o máximas, y las
                                    características
                                    generales que
                                    deben cumplir las puertas y sus accesorios, para facilitar el acceso de
                                    todas
                                    las
                                    personas.
                                </p>
                                <p class="card-text cTxtCI3">
                                    Esta norma es aplicable a todas las puertas de uso peatonal interiores y
                                    exteriores en
                                    edificaciones
                                    públicas, privadas con acceso al público y áreas comunales; no aplica para
                                    puertas de
                                    emergencias,
                                    evacuación y de usos específicos o accesos restringidos.
                                </p>
                                <img src="/imagenes/FA-Norma6.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaG" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico.
                                    Edificios. Corredores y Pasillos. Características Generales. <br> NTE INEN 2247:2000</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones mínimas y las características
                                    funcionales y
                                    constructivas
                                    que deben cumplir los corredores y pasillos en los edificios.
                                </p>
                                <img src="/imagenes/FA-Norma7.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaH" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico. Edificaciones. Bordillos y Pasamanos. Requisitos.
                                    <br> NTE INEN 2244:2016</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones mínimas y las características
                                    funcionales y constructivas
                                    que deben cumplir los corredores y pasillos en los edificios.
                                </p>
                                <img src="/imagenes/FA-Norma8.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaI" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico. Circulaciones Verticales. Escaleras. Requisitos.
                                    <br> NTE INEN 2249:2016</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones mínimas y las características generales
                                    que
                                    deben
                                    cumplir las
                                    escaleras interiores y exteriores.
                                </p>
                                <img src="/imagenes/FA-Norma9.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaJ" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico. Circulaciones Verticales. Ascensores.
                                    <br> NTE INEN 3139:2018</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece las dimensiones máximas y/o mínimas, y las
                                    características generales que
                                    deben cumplir los ascensores para asegurar su acceso y uso seguro para todas
                                    las
                                    personas.
                                </p>
                                <p class="card-text cTxtCI3">
                                    Esta norma no es aplicable para montacargas, plataformas elevadoras, salva
                                    escaleras,
                                    ascensores para vehículos, etc.
                                </p>
                                <img src="/imagenes/FA-Norma10.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>
                            <div id="NormaK" class="tab-pane fade show ">
                                <br><br>
                                <h5 style="color: #2A3B59; font-family: Lato">Accesibilidad de las personas al Medio Físico.
                                    Servicios Higiénicos, Cuartos de Baño y Baterías Sanitarias. <br> NTE INEN 2293:2018</h5>
                                <br>
                                <p class="card-text cTxtCI3">
                                    Esta norma establece los requisitos que deben cumplir los cuartos de baño y
                                    baterías
                                    sanitarias, así
                                    como los criterios de selección, distribución y colocación de los aparatos
                                    sanitarios y
                                    accesorios, para
                                    facilitar la accesibilidad y operatividad. Esta norma se aplica a todas las
                                    edificaciones.
                                </p>
                                <img src="/imagenes/FA-Norma11.jpg" class="imgFA"
                                     alt="Formulario de Accesibilidad Norma 1">
                                <br>
                                <p>
                                    <br>
                                    <strong>Fuente:</strong> CONADIS - Normativa Técnica Ecuatoria - Accesibilidad al Medio
                                    Físico
                                    <a href="https://www.consejodiscapacidades.gob.ec/biblioteca/"
                                       target="_blank">https://www.consejodiscapacidades.gob.ec/biblioteca/</a>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contador -->

<section>
    <div id="content2" class="container-fluid ">
        <div class="row row-CI2-2 ">
            <div class="col-sm-12" style="text-align: center">
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card text-center c1">
                            <div class="divCards" tabindex="24">
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                     data-aos-duration="2000">
                                    <img class="card-img-top cit-CI2" src="/imagenes/icn-ins.png"
                                         alt="icono Institución">
                                    <h2 class="timer count-number text-center h2T" data-to="26" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Instituciones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card text-center c1">
                            <div class="divCards" tabindex="25">
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                     data-aos-duration="2000">
                                    <img class="card-img-top cit-CI2" src="/imagenes/icn-norm.png" alt="icono Norma">
                                    <h2 class="timer count-number text-center h2T" data-to="11" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Normas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card text-center c1">
                            <div class="divCards" tabindex="26">
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                     data-aos-duration="2000">
                                    <img class="card-img-top cit-CI2" src="/imagenes/icn-preg.png" alt="icono Pregunta">
                                    <h2 class="timer count-number text-center h2T" data-to="181" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Preguntas</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card text-center c2" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                             data-aos-duration="2000">
                            <div class="divCards" tabindex="27">
                                <div class="card-body cb6-CI2-2">
                                    <img class="card-img-top cit-CI2" src="/imagenes/icn-dis.png"
                                         alt="icono Discapacidad">
                                    <h2 class="timer count-number text-center h2T" data-to="3" data-speed="4000"><img
                                                src="../icn-ins.png" class="rounded imgText" alt="icono Discapacidad">
                                    </h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Discapacidades</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="/js/contador.js"></script>
</section>
<!-- FIN Contador -->

<!-- Pie de página -->
<section>
    <div>
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" tabindex="28">
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>