<!DOCTYPE html>
<html lang="en">

<head>
    <title>Acerca-Accesibilidad Física</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" ><img src="../logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="inicio">
                        <img src="../iconHome.png"  class="rounded-circle imgText" alt="icono Inicio" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="resultados">
                        <img src="../iconDashboard.png"  class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="../iconAcerca.png"  class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid embed-responsive-item">
        <!-- Texto sobrepuesto en Contenido -->
        <div id="cover" data-aos="fade-down" data-aos-duration="2000">
            <div class="row CoverImage contenedorP2"></div>
        </div>
        <!-- FIN Texto sobrepuesto en Contenido -->
    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->

<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid c" >
        <div class="row">
            <!-- Información Contenido 1 -->
            <div class="col-sm-6">
                <div class="card text-center c-CI">
                    <div class="d-CI">
                        <div class="card-body">
                            <div data-aos="fade-down-right" data-aos-duration="2000" >
                                <h5 class="card-title ct-CI" >El futuro es brillante si se cuenta con accesibilidad</h5>
                            </div>

                            <br>
                            <div class="container" data-aos="fade-up-right" data-aos-duration="2000">
                                <ul class="nav nav-tabs nav-justified justify-content-center n-CI">
                                    <li class="nav-item active"><a class="nav-link a-Menu" data-toggle="tab" href="#Acerca" > Acerca </a></li>
                                    <li class="nav-item"><a class="nav-link a-Menu" data-toggle="tab" href="#Objetivo" > Objetivo </a></li>
                                    <li class="nav-item"><a class="nav-link a-Menu" data-toggle="tab" href="#Meta" > Meta </a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="Acerca" class="tab-pane fade show active dcon">
                                        <br>
                                        <p>La creciente incorporación de personas con discapacidades al medio laboral o a la vida social, evidencia cada vez
                                            más la necesidad de adecuar los espacios urbanos, los servicios públicos, el transporte y los sistemas de comunicación,
                                            a las necesidades reales y condiciones de vida necesarias para el desarrollo integral de las personas con discapacidad. </p>
                                        <p> La accesibilidad al medio físico busca la eliminación de barreras que impiden la autonomía personal y el libre
                                            desplazamiento de las personas, es por ello que este proyecto entrega a la comunidad información derivada del análisis
                                            de un grupo de instituciones públicas que brindan servicios a la ciudadanía en el Distrito Metropolitano de Quito,
                                            con el fin de evidenciar la accesibilidad física que brindan. </p>

                                    </div>
                                    <div id="Objetivo" class="tab-pane fade dcon">
                                        <br><br><br>
                                        <p>Implementar un aplicativo web que permita cooperar con las estrategias de difusión de la accesibilidad al medio físico en el
                                            Distrito Metropolitano de Quito (DMQ), apoyando una política inclusiva que mejore la conciencia, el bienestar social
                                            y la solidaridad ciudadana.</p>
                                    </div>
                                    <div id="Meta" class="tab-pane fade dcon">
                                        <br><br><br>
                                        <p>Actualmente Ecuador no cuenta con información pública centralizada sobre el cumplimiento de normas de accesibilidad física en
                                            instituciones públicas. Por tanto, este proyecto tiene como meta, proporcionar dicha información sobre la accesibilidad que
                                            se ofrece a personas con discapacidad motriz, visual y auditiva en instituciones públicas
                                            que prestan atención a la ciudadanía en el Distrito Metropolitano de Quito (DMQ).</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->

            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-6" >
                <div class="card text-center c-img" >
                    <div class="d-img" >
                        <div class="card-body dc-img" data-aos="zoom-out-down" data-aos-duration="2000">

                            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://cdn.discordapp.com/attachments/689209569355890761/694375132982018089/buchen-wang-xJGFQagpOxc-unsplash.jpg" alt="accesibilidad aeropuerto">
                                        <div class="carousel-caption">
                                            Accesibilidad Física
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.elcomercio.com/files/content_thumbnail_large/uploads/2018/03/08/5aa1e8be26482.jpeg" alt="Plataforma Gubernamental de Desarrollo Social" >
                                        <div class="carousel-caption">
                                            Plataforma Gubernamental de Desarrollo Social
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/12/09/17/36/handicap-parking-3865315_960_720.jpg" alt="Espacio de estacionamiento para personas con discapacidad" >
                                        <div class="carousel-caption">
                                            Señalización de accesibilidad
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://www.ecuavisa.com/sites/default/files/fotos/2018/01/23/plataforma_finaciera-4.jpg" alt="Plataforma Gubernamental de Gestión Financiera"  >
                                        <div class="carousel-caption">
                                            Plataforma Gubernamental de Gestión Financiera
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->

        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->



<!-- Contador -->

<section>
    <div id="content2" class="container-fluid ">
        <div class="row row-CI2-2 ">
            <div class="col-sm-12" style ="text-align: center">
                <br>
                <div class="row" >
                    <div class="col-sm-3" >
                        <div class="card text-center c1" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                                    <img class="card-img-top cit-CI2" src="../icn-ins.png" alt="icono Institución" >
                                    <h2 class="timer count-number text-center h2T" data-to="26" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Instituciones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" >
                        <div class="card text-center c1" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                                    <img class="card-img-top cit-CI2" src="../icn-norm.png" alt="icono Norma" >
                                    <h2 class="timer count-number text-center h2T" data-to="11" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Normas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" >
                        <div class="card text-center c1" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2-2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                                    <img class="card-img-top cit-CI2" src="../icn-preg.png" alt="icono Pregunta" >
                                    <h2 class="timer count-number text-center h2T" data-to="181" data-speed="4000"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Preguntas</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card text-center c2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2-2" >
                                    <img class="card-img-top cit-CI2" src="../icn-dis.png" alt="icono Discapacidad" >
                                    <h2 class="timer count-number text-center h2T" data-to="3" data-speed="4000">  <img src="../icn-ins.png"  class="rounded imgText"></h2>
                                    <hr class="hr">
                                    <p class="count-text-c ">Discapacidades</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="/js/contador.js"></script>
</section>
<!-- FIN Contador -->

<!-- Pie de página -->
<section>
    <div >
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" >
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>