<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>

</head>

<body>
<!-- Menú - navbar -->
<section>
    <div>
        <nav class="navbar navbar-expand-sm justify-content-center sticky-top container-fluid embed-responsive-item"
             style="background-color:#2A3B59; position: fixed; height: 60px; display: flex">
            <!-- Links -->
            <ul class="navbar-nav embed-responsive-item">
                <!-- MENÚ - pestaña Home -->
                <li class="nav-item ">
                    <button type="button" class="btn btn-informacion ">
                        <a class="nav-link" href="inicio">
                            <h3 class="text-center" style="color: white" > &nbsp;&nbsp; &nbsp;&nbsp;Inicio
                                <img src="../iconHome.png"  class=" rounded-circle " width="35" height="35" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Home -->

                <!-- MENÚ - pestaña Resultados -->
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="informacion">
                            <h3 class="text-center" style="color: white" >&nbsp;&nbsp;&nbsp; Resultados&nbsp;
                                <img src="../iconDashboard.png"  class=" rounded" width="45" height="45" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Resultados -->

                <!-- MENÚ - pestaña Acerca de -->
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="acerca" >
                            <h3 class="text-center" style="color: white">&nbsp;&nbsp;&nbsp; Acerca de &nbsp;&nbsp;
                                <img src="../iconAcerca.png"  class=" rounded " width="45" height="45" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Acerca de -->
            </ul>
        </nav>
    </div>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid "
         style="background-image: url(https://cdn.pixabay.com/photo/2015/10/27/09/03/senior-1008620_960_720.jpg);
                background-size: cover;
                width: auto;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items:center ;">

    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->

<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid" style="background: white">
        <div class="row">

            <!-- Información Contenido 1 -->
            <div class="col-sm-6" style="padding-right: 0px;">
                <div class="card text-center" data-aos="fade-left" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 80px 35px; display: inline-block;">
                            <h5 class="card-title" style="font-family: 'Lucida Sans' ;font-size: 2.5em; color:#335574;">Nuestro proyecto</h5>

                            <div class="container">

                                <div id="menu">
                                    <ul>
                                        <li><a id="inicio" class="activo" href="#inicio">INICIO</a></li>
                                        <li><a id="menu1" class="activo" href="#menu1">MENU 1</a></li>
                                        <li><a id="menu2" href="#menu2">MENU 2</a></li>
                                        <li><a id="contacto" href="#contacto">CONTACTO</a></li>
                                        <li><a id="acercade" href="#acercade">ACERCA DE</a></li>
                                    </ul>
                                </div>



                                <ul class="nav nav-tabs nav-justified justify-content-center" style="font-size: 25px" >
                                    <li class="nav-item active"><a href="#Acerca" style="color: #815f6f"> Acerca </a></li>
                                    <li class="nav-item active"><a href="#Objetivo" style="color: #815f6f"> Objetivo </a></li>
                                    <li class="nav-item active"><a href="#Meta" style="color: #815f6f"> Meta </a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="Acerca" class="tab-pane fade show active" style="text-align: justify">
                                        <br>
                                        <p>La creciente incorporación de personas con discapacidades al medio laboral o a la vida social, evidencia cada vez
                                            más la necesidad de adecuar los espacios urbanos, los servicios públicos, el transporte y los sistemas de comunicación,
                                            a las necesidades reales y condiciones de vida necesarias para el desarrollo integral de las personas con discapacidad. </p>
                                        <p> La accesibilidad al medio físico busca la eliminación de barreras que impiden la autonomía personal y el libre
                                            desplazamiento de las personas, es por ello que este proyecto entrega a la comunidad información derivada del análisis
                                            de un grupo de instituciones públicas que brindan servicios a la ciudadanía en el Distrito Metropolitano de Quito,
                                            con el fin de evidenciar la accesibilidad física que brindan. </p>

                                    </div>
                                    <div id="Objetivo" class="tab-pane fade" style="text-align: justify">
                                        <br><br><br><br>
                                        <p>Implementar un aplicativo web que permita cooperar con las estrategias de difusión de la accesibilidad al medio físico en el
                                            Distrito Metropolitano de Quito (DMQ), apoyando una política inclusiva que mejore la conciencia, el bienestar social
                                            y la solidaridad ciudadana.</p>
                                    </div>
                                    <div id="Meta" class="tab-pane fade" style="text-align: justify">
                                        <br><br><br><br>
                                        <p>Actualmente Ecuador no cuenta con información pública centralizada sobre el cumplimiento de normas de accesibilidad física en
                                            instituciones públicas. Por tanto, este proyecto tiene como meta, proporcionar dicha información sobre la accesibilidad que
                                            se ofrece a personas con discapacidad motriz, visual y auditiva en instituciones públicas
                                            que prestan atención a la ciudadanía en el Distrito Metropolitano de Quito (DMQ).</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->

            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-6" >
                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 90px 35px; display: inline-block; ">
                            <img class="card-img-top" src="../accesibilidad1.jpg" style="width: 400px; height: 400px">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->

        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->
<!-- Pie de página -->
<div >
    <footer class="page-footer font-small container-fluid" style="background-color:#2A3B59;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white; font-weight: bold">
            EPN © Todos los Derechos Reservados
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- FIN Pie de página -->

</body>
</html>