<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/style2.css">

</head>

<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" href="#"><img src="../logo-epn.png" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="#">
                        <img src="../iconHome.png"  class="rounded-circle imgText" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="pruebaData">
                        <img src="../iconDashboard.png"  class="rounded imgText">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="../iconAcerca.png"  class="rounded imgText">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid embed-responsive-item">
        <!-- Texto sobrepuesto en Contenido -->
        <div id="cover">
            <div class="row CoverImage contenedorP2"></div>
        </div>
        <!-- FIN Texto sobrepuesto en Contenido -->
    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->



<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid" style="background: white">
        <div class="row">

            <!-- Información Contenido 1 -->
            <div class="col-sm-6">
                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 80px 35px; display: inline-block;">
                            <h5 class="card-title h5Ed" style="font-family: 'Lucida Sans' ;font-size: 2.5em; color:#335574;">Nuestro proyecto</h5>

                            <div class="container">
                                <ul class="nav nav-tabs nav-justified justify-content-center" style="font-size: 25px" >
                                    <li ><a data-toggle="tab" href="#Acerca" style="color: #815f6f">&nbsp;&nbsp;&nbsp; Acerca &nbsp;&nbsp;&nbsp;</a></li>
                                    <li><a data-toggle="tab" href="#Objetivo" style="color: #815f6f">&nbsp;&nbsp;&nbsp; Objetivo &nbsp;&nbsp;&nbsp;</a></li>
                                    <li><a data-toggle="tab" href="#Meta" style="color: #815f6f">&nbsp;&nbsp;&nbsp; Meta &nbsp;&nbsp;&nbsp;</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="Acerca" class="tab-pane fade show active" style="text-align: justify">
                                        <br>
                                        <p>La creciente incorporación de personas con discapacidades al medio laboral o a la vida social, evidencia cada vez
                                            más la necesidad de adecuar los espacios urbanos, los servicios públicos, el transporte y los sistemas de comunicación,
                                            a las necesidades reales y condiciones de vida necesarias para el desarrollo integral de las personas con discapacidad. </p>
                                        <p> La accesibilidad al medio físico busca la eliminación de barreras que impiden la autonomía personal y el libre
                                            desplazamiento de las personas, es por ello que este proyecto entrega a la comunidad información derivada del análisis
                                            de un grupo de instituciones públicas que brindan servicios a la ciudadanía en el Distrito Metropolitano de Quito,
                                            con el fin de evidenciar la accesibilidad física que brindan. </p>

                                    </div>
                                    <div id="Objetivo" class="tab-pane fade" style="text-align: justify">
                                        <br>
                                        <p>Implementar un aplicativo web que permita cooperar con las estrategias de difusión de la accesibilidad al medio físico en el
                                            Distrito Metropolitano de Quito (DMQ), apoyando una política inclusiva que mejore la conciencia, el bienestar social
                                            y la solidaridad ciudadana.</p>
                                    </div>
                                    <div id="Meta" class="tab-pane fade" style="text-align: justify">
                                        <br>
                                        <p>Actualmente Ecuador no cuenta con información pública centralizada sobre el cumplimiento de normas de accesibilidad física en
                                            instituciones públicas. Por tanto, este proyecto tiene como meta, proporcionar dicha información sobre la accesibilidad que
                                            se ofrece a personas con discapacidad motriz, visual y auditiva en instituciones públicas
                                            que prestan atención a la ciudadanía en el Distrito Metropolitano de Quito (DMQ).</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->

            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-6" >
                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 40px 35px; display: inline-block; ">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/12/00/29/building-2393978_960_720.png" style="width: 355px;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->

        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->

<!-- Pie de página -->
<div >
    <footer class="page-footer font-small container-fluid pg">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 pg-txt" >
            EPN © Todos los Derechos Reservados
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- FIN Pie de página -->

</body>
</html>