<!DOCTYPE html>
<html>
<head>

    <title>ChartJS - BarGraph</title>
    <style type="text/css">
        #chart-container {
            width: 640px;
            height: auto;
        }
    </style>
</head>
<body>
<!-- javascript -->
<script type="text/javascript" src="../jquery.min.js"></script>
<script type="text/javascript" src="../Chart.min.js"></script>
<script type="text/javascript" src="../app.js"></script>

<div id="chart-container">
    <canvas id="mycanvas"></canvas>
</div>

</body>
</html>