<!--
<!DOCTYPE html>
<html>
<head>
    <title>ChartJS - BarGraph</title>
    <style type="text/css">
        #chart-container {
            width: 640px;
            height: auto;
        }
    </style>
</head>
<body>
<div id="chart-container">
    <canvas id="graphCanvas"></canvas>
</div>
-->
<!-- javascript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>-->
<!--
<script type="text/javascript" src="../jquery.min.js"></script>
<script type="text/javascript" src="../Chart.min.js"></script>
<script type="text/javascript" src="../app.js"></script>
-->
<!--
</body>
</html>
-->



<!DOCTYPE html>
<html>
<head>
    <title>Creating Dynamic Data Graph using PHP and Chart.js</title>
    <style type="text/css">
        BODY {
            width: 550PX;
        }

        #chart-container {
            width: 100%;
            height: auto;
        }
    </style>
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script type="text/javascript" src="../Chart.min.js"></script>


</head>
<body>
<div id="chart-container">
    <canvas id="graphCanvas"></canvas>
</div>

<script>
    $(document).ready(function () {
        showGraph();
    });


    function showGraph()
    {
        {

            $.get("../data.php",
                function (data)
                {
                    console.log(data);
                    var name = [];
                    var marks = [];

                    for (var i in data) {
                        name.push(data[i].playerid);
                        marks.push(data[i].score);
                    }

                    var chartdata = {
                        labels: name,
                        datasets: [
                            {
                                label: 'Student Marks',
                                backgroundColor: '#49e2ff',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: marks
                            }
                        ]
                    };

                    var graphTarget = $("#graphCanvas");

                    var barGraph = new Chart(graphTarget, {
                        type: 'bar',
                        data: chartdata
                    });
                });
        }
    }
</script>

</body>
</html>