<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/graficas.css">

</head>
<body>

<!-- Menú - navbar -->
<section>
    <nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
        <a class="navbar-brand logo" ><img src="../logo-epn.png" alt="logo EPN" style="height: 50px"></a>
        <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ml-auto ">
                <li class="nav-item"> <a class="nav-link textMenu" href="inicio">
                        <img src="../iconHome.png"  class="rounded-circle imgText" alt="icono Inicio" >
                        Inicio</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="resultados">
                        <img src="../iconDashboard.png"  class="rounded imgText" alt="icono Resultados">
                        Resultados</a>
                </li>
                <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                        <img src="../iconAcerca.png"  class="rounded imgText" alt="icono Acerca">
                        Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Título -->
<section>
    <h2 class="h2"> Datos Generales Obtenidos</h2>
</section>
<!-- FIN Título -->

<!-- Información general -->
<section>
   <div class="row sp">
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary bg-darken-2">
                           <i><img class="card-img-top" src="../icn-ins.png" alt="icono Institución" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary white media-body">
                           <h5>Instituciones Evaluadas</h5>
                           <h5 class="text-bold-400 mb-0">
                               26
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary2 bg-darken-22">
                           <i> <img class="card-img-top" src="../icn-norm.png" alt="icono Norma" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary2 white media-body">
                           <h5>Normas Técnicas Ecuatorianas</h5>
                           <h5 class="text-bold-400 mb-0">
                               11
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="media align-items-stretch">
                       <div class="p-2 text-center bg-primary3 bg-darken-23">
                           <i><img class="card-img-top" src="../icn-preg.png" alt="icono Pregunta" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary3 white media-body">
                           <h5>Preguntas realizadas</h5>
                           <h5 class="text-bold-400 mb-0">
                               181
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-12">
           <div class="card">
               <div class="card-content">
                   <div class="mediaI align-items-stretch">
                       <div class="p-2 text-center bg-primary4 bg-darken-24">
                           <i><img class="card-img-top" src="../icn-dis.png" alt="icono Discapacidad" ></i>
                       </div>
                       <div class="p-2 bg-gradient-x-primary4 white media-body">
                           <h5>Discapacidades Consideradas</h5>
                           <h5 class="text-bold-400 mb-0">
                               3
                           </h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- FIN Información general -->

<!-- Grafico Instituciones -->
<section>

    <div id="chart-container" >
        <canvas id="chart2" ></canvas>
    </div>

<script src="/js/grafico2.js"></script>
</section>





<!-- Pie de página -->
<section>
    <div >
        <footer class="page-footer font-small container-fluid pg">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 pg-txt" >
                EPN © Todos los Derechos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- FIN Pie de página -->
</section>








<!-- SCRIPTS para llamado de funciones -->

<script type="text/javascript">
    var tot_val_ins = <%- JSON.stringify(tot_val_ins) %>
        console.log();
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
        console.log();
    var  tot_nor_ins = <%- JSON.stringify( tot_nor_ins) %>

    archivoJS(tot_val_ins);
    archivoJS2(tot_ins_nor);

</script>

<!-- FIN SCRIPTS para llamado de funciones -->

</body>
</html>
