<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/mVertical.css">
</head>
<body>
<div class="sidenav">
    <a class="navbar-brand" ><img src="../logo-politecnica.png" alt="logo EPN" style="height: 70px"></a>
    <a class="textMenu" href="inicio"><img src="imagenes/iconHome.png"  class="rounded-circle imgText fa fa-fw " alt="icono Inicio" >Inicio</a>
    <button class="dropdown-btn textMenu"><img src="../iconDashboard.png"  class="rounded imgText fa fa-fw" alt="icono Resultados">Resultados
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container textMenu">
        <a href="#">Datos Generales</a>
        <a href="#">Datos por Institución</a>
    </div>
    <a class="textMenu" href="acerca"><img src="../iconAcerca.png"  class="rounded imgText fa fa-fw" alt="icono Acerca"> Acerca de</a>
</div>

<div class="main">
    <h2>Sidebar Dropdown</h2>
    <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
    <p>This sidebar is of full height (100%) and always shown.</p>
    <p>Some random text..</p>
</div>
<script src="/js/mVertical.js"></script>
</body>
</html>
