<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>
<body>
<!-- Cabecera -->
<div class="jumbotron jumbotron-fluid p-3 my-3 text-dark text-center" style="background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/28/skyscrapers-1081737__340.jpg); background-size: cover; width: auto;height: 100vh; display: flex; justify-content: center; align-items: center;">
 <h1>ACCESIBILIDAD DE LAS PERSONAS AL MEDIO FISICO</h1>
</div>

<div>
    <!-- Menu -->
    <nav class="navbar navbar-expand-sm bg-light justify-content-center bg-white ">
        <ul class="navbar-nav ">
            <li class="nav-item ">
                <button type="button" class="btn btn-informacion ">
                    <a class="nav-link" href="prueba">
                        <h3 class="text-center text-dark" > &nbsp;&nbsp; &nbsp;&nbsp;Inicio
                            <img src="../inicio2.png"  class=" rounded-circle " width="50" height="50" align="left" >
                        </h3>
                    </a>
                </button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-informacion">
                    <a class="nav-link" href="HolaMundo">
                        <h3 class="text-center text-dark" >&nbsp;&nbsp;&nbsp; Acerca de &nbsp;&nbsp;
                            <img src="../acerca2.png"  class=" rounded-circle " width="50" height="50" align="left" >
                        </h3>
                    </a>
                </button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-informacion">
                    <a class="nav-link" href="informacion">
                        <h3 class="text-center text-dark" >&nbsp;&nbsp;&nbsp; Resultados&nbsp;
                            <img src="../informacion2.png"  class=" rounded-circle " width="50" height="50" align="left" >
                        </h3>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>