<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

</head>
<body>

<!-- Cabecera -->
<div class="jumbotron jumbotron-fluid p-3 my-3 bg-dark text-white text-center">
    <!-- Se agrega una imagen en la cabecera -->
    <br><br><img href="imagenes/accesibilidad1.jpg" class=" img-responsive img-thumbnail mx-auto d-block" width="475" height="128"><br><br>


    <!-- Titulo principal -->
    <h1>ACCESIBILIDAD DE LAS PERSONAS AL MEDIO FISICO</h1>
    <!-- Menu -->
    <nav class="navbar navbar-expand-sm bg-light justify-content-center bg-dark ">
        <ul class="navbar-nav ">
            <li class="nav-item ">
                <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="prueba"><h3> &nbsp;&nbsp; Inicio &nbsp;&nbsp;</h3></a></button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary"> <a class="nav-link" href="HolaMundo"><h3>&nbsp;&nbsp; Acerca de &nbsp;&nbsp;</h3></a></button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="informacion"><h3>&nbsp;&nbsp; Información &nbsp;&nbsp;</h3></a></button>
            </li>
        </ul>
    </nav>
</div>
<!-- FIN Cabecera -->

<div id="canvas-container" style="width:25%;">
    <canvas id="myChart" width="500" height="350"></canvas>
</div>

</body>
<script>
    var ctx= document.getElementById("myChart").getContext("2d");
    var myChart= new Chart(ctx,{
        type:"pie",
        data:{
            labels:['col1','col2','col3'],
            datasets:[{
                label:'Num datos',
                data:[10,9,15],
                backgroundColor:[
                    'rgb(66, 134, 244,0.5)',
                    'rgb(74, 135, 72,0.5)',
                    'rgb(229, 89, 50,0.5)'
                ]
            }]
        },
        options:{
            scales:{
                yAxes:[{
                    ticks:{
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
</html>