<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>
<body>
<!-- Menú - navbar -->
<section>
    <div>
        <nav class="navbar navbar-expand-sm justify-content-center sticky-top container-fluid embed-responsive-item"
             style="background-image: radial-gradient(circle, #c89986, #a8797b, #815f6f, #56485c, #2f3243); position: fixed">
            <!-- Links -->
            <ul class="navbar-nav ">
                <!-- MENÚ - pestaña Home -->
                <li class="nav-item ">
                    <button type="button" class="btn btn-informacion ">
                        <a class="nav-link" href="inicio">
                            <h3 class="text-center" style="color: white" > &nbsp;&nbsp; &nbsp;&nbsp;Inicio
                                <img src="../iconHome.png"  class=" rounded-circle " width="50" height="50" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Home -->

                <!-- MENÚ - pestaña Resultados -->
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="informacion">
                            <h3 class="text-center" style="color: white" >&nbsp;&nbsp;&nbsp; Resultados&nbsp;
                                <img src="../iconDashboard.png"  class=" rounded" width="45" height="45" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Resultados -->

                <!-- MENÚ - pestaña Acerca de -->
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="acerca" >
                            <h3 class="text-center" style="color: white">&nbsp;&nbsp;&nbsp; Acerca de &nbsp;&nbsp;
                                <img src="../iconAcerca.png"  class=" rounded " width="65" height="55" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <!-- FIN MENÚ - pestaña Acerca de -->
            </ul>
        </nav>
    </div>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid "
         style="background-image: url(https://cdn.pixabay.com/photo/2016/05/11/16/32/bridge-1385938_960_720.jpg);
                background-size: cover;
                width: auto;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items:center ;">
        <!-- Texto sobrepuesto en Contenido -->
        <div id="cover">
            <div class="row CoverImage">
                <div class="col-sm-12">
                    <div class="card text-center" style="margin-top: 25px; background-color: transparent; align-items:center">
                        <div class="card-body text-white"
                             style="background: rgba(0,0,0,0.35);
                                    padding: 125px 185px;
                                    min-width: 300px;
                                    display: inline-block">
                            <img src="../logo-EPN-blanco.png" style="padding-top: 8px">
                            <br><br>
                            <h2 class="card-title h5Ed">ACCESIBILIDAD DE LAS PERSONAS AL MEDIO FISICO</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Texto sobrepuesto en Contenido -->
    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->

<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid" style="background: white">
        <div class="row">
            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-4" >

                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 40px 35px; display: inline-block; ">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/12/00/29/building-2393978_960_720.png" style="width: 355px;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->
            <!-- Información Contenido 1 -->
            <div class="col-sm-7" style="padding-right: 0px;">
                <div class="card text-center" data-aos="fade-left" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 80px 35px; display: inline-block;">
                            <h5 class="card-title h5Ed" style="font-family: 'Monotype Corsiva' ;font-size: 2.5em; color:#335574;">Accesibilidad en cualquier momento, cualquier lugar.</h5>
                            <p class="card-text" style="color: black; text-align: center; font-size: 1.3em">
                                La accesibilidad en Ecuador busca la eliminación de barreras que impiden la autonomía personal y el libre desplazamiento de los
                                ciudadanos y ciudadanas, fortaleciendo estrategias para la creación de espacios y servicios que faciliten la interacción con
                                el medio físico, la comunicación y la información.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->
        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->

<!-- Contenido 2 Informativo - Redireccionamiento-->
<section>
    <div id="content2" class="container-fluid">
        <div class="row CoverImage " style=" background-image:  linear-gradient( rgba(0, 0, 0,0), rgba(0, 0, 0,0)), url(https://cdn.pixabay.com/photo/2018/04/14/23/20/triangles-3320452_960_720.png)">
            <div class="col-sm-12" style ="text-align: center">
                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 10px; margin-bottom: 10px">
                        <div class="card-body" style="background: transparent; padding: 40px 35px; display: inline-block;">
                            <h2 class="card-title" style="font-size: 2.5em; color:#ffffff">¿La accesibilidad está en todas las partes donde quieras estar?</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" >
                        <div class="card text-center" data-aos="fade-right" data-aos-easing="ease-in-sine" style="background-color: transparent; border: none">
                            <div style="margin-top: 10px; margin-bottom: 10px">
                                <div class="card-body" style="background: rgba(0,0,0,0.41); padding: 10px 10px; display: inline-block; max-width: 410px; min-height: 360px">
                                    <img class="card-img-top" src="../iconDashboard.png" style="max-width: 3.5em; margin-top: 10px ">
                                    <h5 class="card-title" style="font-size: 2em; color:#ffffff">Dashboard</h5>
                                    <p class="card-text" style="color: #fff; text-align: center">
                                        <br>Visualización de datos recolectados en instituciones públicas de atención al cliente dentro del DMQ para conocimiento
                                        de la accesibilidad física que brindan a personas con discapacidad física.
                                    </p>
                                    <a href="pruebaData" class="btn btn-outline-secondary" role="button" aria-pressed="true" style="color: white ; border-bottom-color: white; ">Conozca más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card text-center" data-aos="fade-left" style="background-color: transparent; border: none">
                            <div style="margin-top: 10px; margin-bottom: 10px">
                                <div class="card-body" style="background: rgba(0,0,0,0.41); padding: 10px 10px; display: inline-block; max-width: 410px ; min-height: 360px">
                                    <img class="card-img-top" src="../iconAcerca.png" style="max-width: 3.5em; margin-top: 10px ">
                                    <h5 class="card-title" style="font-size: 2em; color:#ffffff">Información</h5>
                                    <p class="card-text" style="color: #fff; text-align: center">
                                        <br><br>Análisis y parámetros de evaluacion de informacion recolectada a instituciones públicas de
                                        atención al cliente dentro del Distrito Metropolitano de Quito.
                                    </p>
                                    <a href="acerca" class="btn btn-outline-secondary" role="button" aria-pressed="true" style="color: white ; border-bottom-color: white; ">Conozca más</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN Contenido 2 Informativo - Redireccionamiento-->

<!-- Pie de página -->
<div >
    <footer class="page-footer font-small container-fluid" style="background-image: radial-gradient(circle, #c89986, #a8797b, #815f6f, #56485c, #2f3243);">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white; font-weight: bold">
            EPN © Todos los Derechos Reservados
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- FIN Pie de página -->


</body>
</html>

