<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- Menú - navbar -->
<section>
<nav class="navbar fixed-top navbar-expand-sm nav-fill bg">
    <a class="navbar-brand logo" href="#"><img src="../logo-epn.png" style="height: 50px"></a>
    <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ml-auto ">
            <li class="nav-item"> <a class="nav-link textMenu" href="#">
                    <img src="../iconHome.png"  class="rounded-circle imgText" >
                    Inicio</a>
            </li>
            <li class="nav-item"> <a class="nav-link textMenu" href="pruebaData">
                    <img src="../iconDashboard.png"  class="rounded imgText">
                    Resultados</a>
            </li>
            <li class="nav-item"> <a class="nav-link textMenu" href="acerca">
                    <img src="../iconAcerca.png"  class="rounded imgText">
                Acerca de</a>
            </li>
        </ul>
    </div>
</nav>
</section>
<!-- FIN Menú - navbar -->

<!-- Cabecera -->
<section>
    <!-- IMAGEN contenida en Cabecera -->
    <div class="text-black-50 text-center container-fluid embed-responsive-item">
        <!-- Texto sobrepuesto en Contenido -->
        <div id="cover">
            <div class="row CoverImage contenedorP1">
                <div class="col-sm-12 colCabecera">
                    <div class="card text-center cardCabecera">
                        <div class="card-body text-white" style="display: inline-block" >
                            <h2 class="card-title titulo h5Ed">Sistema Informativo de Accesibilidad al Medio Físico</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Texto sobrepuesto en Contenido -->
    </div>
    <!-- FIN IMAGEN contenida en Cabecera -->
</section>
<!-- FIN Cabecera -->

<!-- Contenido 1 Informativo -->
<section>
    <div id="content1" class="container-fluid" style="background: white">
        <div class="row">
            <!-- IMAGEN Contenido 1 Informativo -->
            <div class="col-sm-4" >
                <div class="card text-center imgCI1" >
                    <div class="div-imgCI1" >
                        <div class="card-body cb-imgCI1" >
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/12/00/29/building-2393978_960_720.png" style="width: 355px;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN IMAGEN Contenido 1 Informativo -->
            <!-- Información Contenido 1 -->
            <div class="col-sm-7" >
                <div class="card text-center cardCI1" >
                    <div class="div-txtCI1" >
                        <div class="card-body cb-txtCI1">
                            <h5 class="card-title frase" >Accesibilidad en cualquier momento y cualquier lugar.</h5>
                            <br>
                            <p class="card-text ct-CI1 " >
                                La accesibilidad en Ecuador busca la eliminación de barreras que impiden la autonomía personal y el libre desplazamiento de los
                                ciudadanos y ciudadanas, fortaleciendo estrategias para la creación de espacios y servicios que faciliten la interacción con
                                el medio físico, la comunicación y la información.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Información Contenido 1 -->
        </div>
    </div>
</section>
<!-- FIN Contenido 1 Informativo -->

<!-- Contenido 2 Informativo - Redireccionamiento-->
<section>
    <div id="content2" class="container-fluid">
        <div class="row row-CI2">
            <div class="col-sm-12" style ="text-align: center">
                <div class="card text-center cardCI2" >
                    <div class="div-txtCI2" >
                        <div class="card-body cb-CI2" >
                            <h2 class="card-title frase2" >¿La accesibilidad está en todas las partes donde quieres estar?</h2>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-sm-6" >
                        <div class="card text-center c1" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2" >
                                    <img class="card-img-top cit-CI2" src="../iconDashboard.png" >
                                    <h5 class="card-title cTitleCI2" >Dashboard</h5>
                                    <p class="card-text cTxtCI2">
                                        <br>Visualización de datos recolectados en instituciones públicas de atención al cliente dentro del DMQ para conocimiento
                                        de la accesibilidad física que brindan a personas con discapacidad física.
                                    </p>
                                    <a href="pruebaData" class="btn btn-outline-secondary a-CI2" role="button" aria-pressed="true" >Conozca más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card text-center c2" >
                            <div class="divCards" >
                                <div class="card-body cb6-CI2" >
                                    <img class="card-img-top cit-CI2" src="../iconAcerca.png" >
                                    <h5 class="card-title cTitleCI2" >Información</h5>
                                    <p class="card-text cTxtCI2 ">
                                        <br><br>Análisis y parámetros de evaluacion de informacion recolectada a instituciones públicas de
                                        atención al cliente dentro del Distrito Metropolitano de Quito.
                                    </p>
                                    <a href="acerca" class="btn btn-outline-secondary a-CI2" role="button" aria-pressed="true" >Conozca más</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN Contenido 2 Informativo - Redireccionamiento-->

<!-- Pie de página -->
<div >
    <footer class="page-footer font-small container-fluid pg">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 pg-txt" >
            EPN © Todos los Derechos Reservados
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- FIN Pie de página -->

</body>
</html>

