<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>
<body>

<!-- Cabecera -->
<section>
    <div class="text-black-50 text-center container-fluid "
         style="background-image: url(https://cdn.pixabay.com/photo/2016/05/11/16/32/bridge-1385938_960_720.jpg);
                background-size: cover;
                width: auto;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items:center ;">

        <div id="cover">
            <div class="row CoverImage">
                <div class="col-sm-12">
                    <div class="card text-center" style="margin-top: 25px; background-color: transparent; align-items:center">
                        <div class="card-body text-white"
                             style="background: rgba(0,0,0,0.35);
                                    padding: 125px 185px;
                                    min-width: 300px;
                                    display: inline-block">
                            <img src="../logo-EPN-blanco.png" style="padding-top: 8px">
                            <br><br>
                            <h2 class="card-title h5Ed">ACCESIBILIDAD DE LAS PERSONAS AL MEDIO FISICO</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN Cabecera -->

<!-- Menú -->
<section>
    <div>
        <nav class="navbar navbar-expand-sm justify-content-center sticky-top container-fluid embed-responsive-item"

             style="background-image: linear-gradient(to bottom, #1e2c3a, #3e4a55, #616b72, #868d91, #aeb0b1);">
            <!-- Links -->
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <button type="button" class="btn btn-informacion ">
                        <a class="nav-link" href="inicio">
                            <h3 class="text-center" style="color: white" > &nbsp;&nbsp; &nbsp;&nbsp;Inicio
                                <img src="../iconHome.png"  class=" rounded-circle " width="50" height="50" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="acerca" >
                            <h3 class="text-center" style="color: white">&nbsp;&nbsp;&nbsp; Acerca de &nbsp;&nbsp;
                                <img src="../iconAcerca.png"  class=" rounded " width="65" height="55" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-informacion">
                        <a class="nav-link" href="informacion">
                            <h3 class="text-center" style="color: white" >&nbsp;&nbsp;&nbsp; Resultados&nbsp;
                                <img src="../iconDashboard.png"  class=" rounded" width="45" height="45" align="left" >
                            </h3>
                        </a>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- FIN Menú -->

<!-- Contenido -->
<section>

    <div id="content2" style="background: white">

        <div class="row">

            <div class="col-sm-4" >
                <div class="card text-center" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 40px 35px; display: inline-block; ">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/12/00/29/building-2393978_960_720.png" style="width: 355px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7" style="padding-right: 0px;">
                <div class="card text-center" data-aos="fade-left" style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body" style="background: rgba(0,0,0,0.0); padding: 80px 35px; display: inline-block;">
                            <h5 class="card-title h5Ed" style="font-family: 'Monotype Corsiva' ;font-size: 2.5em; color:#335574;">Accesibilidad en cualquier momento, cualquier lugar.</h5>
                            <p class="card-text" style="color: black; text-align: center; font-size: 1.3em">
                                La accesibilidad en Ecuador busca la eliminación de barreras que impiden la autonomía personal y el libre desplazamiento de los
                                ciudadanos y ciudadanas, fortaleciendo estrategias para la creación de espacios y servicios que faciliten la interacción con
                                el medio físico, la comunicación y la información.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- FIN Contenido -->

<div class="container-fluid text-center" style="background:beige">
    <div class="btn-group btn-group-justified">
        <button type="button" class="btn btn-primary" style="background: #667f9c">Seleccione la Institución</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" style="background: #667f9c">
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="contenido">Ministerio del Trabajo Sede Geminis</a>
            <a class="dropdown-item" href="norma">Ministerio del Trabajo Sede Republica</a>
            <a class="dropdown-item" href="formulario">Superintendencia de Bancos</a>
        </div>
    </div> <br><br>
</div>
</body>
</html>

