<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/selectBox.css">


</head>

<body>

<form name="formulario1" action="#">
    <select class="seleccion" name="cosa" onchange="var mivariable=cambia1()" >

        <option hidden selected>Selecciona una opción</option>
        <% for(var i = 0; i< instituciones.length; i++){ %>
            <option id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </option>
        <% } %>
    </select>
</form>

<div id="canvas-container" style="width:60%;">
    <canvas id="chart" width="1000" height="500"></canvas>
</div>



<script src="/js/grafico1.js"></script>

<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
    var instituciones = <%- JSON.stringify(instituciones) %>
    console.log(tot_ins_nor)
    //archivoJS(instituciones)

    function cambia1(){
        cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].index;
        console.log("cosita" + cosa)
       // return cosa;

        if (cosa==1)
        {
            archivoJS(tot_ins_nor);
        }
        if (cosa==2)
        {
            archivoJS2(tot_ins_nor);
        }
        if (cosa==3)
        {
            archivoJS3(tot_ins_nor);
        }
    }

  //  var respuestaFuncion = cambia1();
  //  var respuestaFuncion = nombreFuncion(parametrosDeLaFuncion, otroParametroSiEsNecesario);
   // var varopcion =document.formulario1.mivariable;
  //  console.log("esto es lo que cambia"+respuestaFuncion)
   // graficar(respuestaFuncion);
</script>

</body>
</html>