<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menuVertical.css">

</head>


<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-dark">
        <div class="media d-flex align-items-center"><img src="../logo-epn.png" alt="logo EPN" width="65">
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="inicio"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Inicio</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-table"></i> <span class="d-none d-sm-inline">Resultados</span></a>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item"><a class="nav-link py-0 active" data-toggle="tab" href="#canvas-container"><span>Datos Generales</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><span>Datos Por Institución</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="acerca"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Acerca de</span></a>
        </li>
    </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">☰</small></button>

    <div class="collapse" id="submenu1sub1" aria-expanded="false">

        <ul class="nav nav-tabs flex-column pl-2">
            <li>
                <form name="formulario1" action="#">
                    <select class="seleccion" name="cosa" onchange="var mivariable=cambia1()" >
                        <option hidden selected>Selecciona una opción</option>
                        <% for(var i = 0; i< instituciones.length; i++){ %>
                            <option id="seleccionado"  value="<%= instituciones[i].nom_ins %>"> <%= instituciones[i].nom_ins %> </option>
                        <% } %>
                    </select>
                </form>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="canvas-container" style="width:70%;">
            <canvas id="chart" width="2000" height="800"></canvas>
        </div>
    </div>
</div>


<!-- End demo content -->
<script src="/js/menuVertical.js"></script>
<script src="/js/grafico1.js"></script>

<script type="text/javascript">
    var tot_ins_nor = <%- JSON.stringify(tot_ins_nor) %>
    var instituciones = <%- JSON.stringify(instituciones) %>
        console.log(tot_ins_nor)
    //archivoJS(instituciones)

    function cambia1(){
        cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].index;
        console.log("cosita" + cosa)
        // return cosa;

        if (cosa==1)
        {
            archivoJS(tot_ins_nor);
        }
        if (cosa==2)
        {
            archivoJS2(tot_ins_nor);
        }
        if (cosa==3)
        {
            archivoJS3(tot_ins_nor);
        }
    }

    //  var respuestaFuncion = cambia1();
    //  var respuestaFuncion = nombreFuncion(parametrosDeLaFuncion, otroParametroSiEsNecesario);
    // var varopcion =document.formulario1.mivariable;
    //  console.log("esto es lo que cambia"+respuestaFuncion)
    // graficar(respuestaFuncion);
</script>

</body>

</html>