
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form {
    position: center;
    width: 8rem;
    margin-top: 8vh;
}

.chosen-value,
.value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chosen-value {

    font-weight: normal;
    height: 3rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #fafcfd;
    border: 3px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
    color: #333;
}
.chosen-value:hover {
    background-color: #265077;
    cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
    color: white;
}
.chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #265077;
    color: white;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: white;
}

.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.value-list.open {
    max-height: 320px;
    overflow: auto;
}
.value-list li {
    position: relative;
    height: 3rem;
    background-color: #999999;
    padding: 1rem;
    font-size: 1.1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    opacity: 1;
}
.value-list li:hover {
    background-color: #265077;
}
.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}
