@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/*---------------****PAGINA INICIO****---------------*/
/*Menú*/
.bg{
    background-color: #2A3B59;
}
.textMenu{
    color: white ;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.toggler{
    color: white;
}
.imgText{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
/*FIN Menú*/

/*Cabecera*/
.contenedorP2{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/27/09/03/senior-1008620_960_720.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.titulo{
    font-family: 'Lato', sans-serif !important;
    font-size: 5em;
}
@media screen and (max-width: 610px) {
    .h5Ed {
        font-size: 3em;
        color: #ffffff
    }
}
@media screen and (max-width: 410px) {
    .h5Ed {
        font-size: 2em;
        color: #ffffff
    }
}
.cardCabecera{
    margin-top: 55px;
    background-color: transparent;
    align-items:center;
    border: none;
}
.colCabecera{
    margin-top: 5px;
}
/*FIN Cabecera*/

/* Contenido 1 Informativo */

.c{
    background: white;
}
.c-CI{
    background-color: transparent;
    border: none;
}
.d-CI {
    margin-top: 20px;
    margin-bottom: 20px;
}
.cb-CI{
    background: rgba(0,0,0,0.0);
    padding: 80px 35px;
    display: inline-block;
}
.ct-CI{
    font-family:'Lucida Sans';
    font-size: 2.5em;
    color:#335574;
}
.n-CI{
    font-size: 25px;
}
.a-Menu{
    color: #815f6f;
    margin-left: 20px;
    margin-right: 20px;
}
.dcon{
    text-align: justify;
}
.c-img{
    background-color: transparent;
    border: none;
}
.d-img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.dc-img{
    background: rgba(0,0,0,0.0);
    padding: 40px 35px;
    display: inline-block;
}


/* FIN Contenido 1 Informativo */

/* Pie de página */
.pg{
    background-color:#2A3B59;
}
.pg-txt{
    color: white;
    font-weight: bold;
}
/* FIN Pie de página */
