@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*---------------****PAGINA INICIO****---------------*/
/*Menú*/
.bg{
    background-color: #2A3B59;
}
.textMenu{
    color: white ;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.textMenu:hover{
    color: orange;
}
.toggler{
    color: white;
}
.imgText{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
/*FIN Menú*/

/*Cabecera*/
.contenedorP1{
    background-image: linear-gradient(rgba(150, 150, 248,.7), rgba(185, 189, 165, .5)),
                      url(https://images.unsplash.com/photo-1511871539190-20cb70cb3c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=739&q=80);
    background-size: cover;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.titulo{
    font-family: 'Lato', sans-serif !important;
    font-size: 5em;
}
@media screen and (max-width: 610px) {
    .h5Ed {
        font-size: 3em;
        color: #ffffff
    }
}
@media screen and (max-width: 410px) {
    .h5Ed {
        font-size: 2em;
        color: #ffffff
    }
}
.cardCabecera{
    margin-top: 55px;
    background-color: transparent;
    align-items:center;
    border: none;
}
.colCabecera{
    margin-top: 5px;
}
/*FIN Cabecera*/

/*Contenido 1 Informativo*/
.imgCI1{
    background-color: transparent;
    border: none;
}
.cb-imgCI1{
    background: rgba(0,0,0,0.0);
    padding: 40px 35px;
    display: inline-block;
}
.div-imgCI1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardCI1{
    background-color: transparent;
    border: none;
}
.div-txtCI1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cb-txtCI1{
    background: rgba(0,0,0,0.0);
    padding: 80px 35px;
    display: inline-block;
}
.frase{
    font-family: 'Lobster', cursive !important;
    font-size: 2.5em;
    color:#335574;
}
.ct-CI1{
    color: black;
    text-align: justify;
    font-size: 1.3em;
}
/*FIN Contenido 1 Informativo*/

/*Contenido 2 Informativo - Redireccionamiento*/
.row-CI2{
    background-image:  linear-gradient( rgba(0, 0, 0,0), rgba(0, 0, 0,0)),
                       url(https://cdn.pixabay.com/photo/2018/04/14/23/20/triangles-3320452_960_720.png);
    background-size: cover;
}
.cardCI2{
    background-color: transparent;
    border: none;
}
.div-txtCI2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cb-CI2{
    background: transparent;
    padding: 40px 35px;
    display: inline-block;
}
.frase2{
    font-size: 2.5em;
    color:#ffffff;
}
.c1{
    background-color: transparent;
    border: none;
}
.c2{
    background-color: transparent;
    border: none;
}
.divCards{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cTitleCI2{
    font-size: 2em;
    color:#ffffff;
}
.cTxtCI2{
    color: #fff;
    text-align: justify;
}
.cit-CI2{
    max-width: 3.5em;
    margin-top: 10px;
}
.cb6-CI2{
    background: rgba(0,0,0,0.41);
    padding: 10px 10px;
    display: inline-block;
    max-width: 410px ;
    min-height: 360px;
}
.a-CI2{
    color: white;
       border-color: white;
}
/*FIN Contenido 2 Informativo - Redireccionamiento*/

/* Pie de página */
.pg{
    background-color:#2A3B59;
}
.pg-txt{
    color: white;
    font-weight: bold;
}
/* FIN Pie de página */

/*---------------****PAGINA ACERCA DE****---------------*/
.contenedorP2{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/27/09/03/senior-1008620_960_720.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
/* Contenido 1 Informativo */
.c{
    background: white;
}
.c-CI{
    background-color: transparent;
    border: none;
}
.d-CI {
    margin-top: 50px;
    margin-bottom: 20px;
}
.cb-CI{
    background: rgba(0,0,0,0.0);
    padding: 80px 35px;
    display: inline-block;
}
.ct-CI{
    font-family: 'Lobster', cursive !important;
    font-size: 2.5em;
    color:#335574;
    text-align: center;
}
.n-CI{
    font-size: 25px;
}
.a-Menu{
    color: #009da1;
    margin-left: 20px;
    margin-right: 20px;

}
.nav-tabs .nav-link.active {
    color: #2A3B59;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: 2px solid #009da1;
    border-left: 2px solid #009da1;
    border-right: 2px solid #009da1;
    border-top-left-radius: 0.50rem;
    border-top-right-radius: 0.50rem;

}
.tab-content>.active {
    display: block;
    border-top: 2px solid #009da1;
}

.dcon{
    text-align: justify;

}
.c-img{
    background-color: transparent;
    border: none;
}
.d-img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.dc-img{
    background: rgba(0,0,0,0.0);
    padding: 40px 35px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
}
.count-text{
    font-family: 'Lato', sans-serif !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .3s ease;
}
.h2T{
    font-size: 50px;
    color: white;
}
.hr{
    color: black;
    width:50%;
    size:10px;
    background-color: white;
}

.row-CI2-2{
    background-image: linear-gradient(rgba(150, 150, 248,.7), rgba(185, 189, 165, .5)),
    url(https://images.pexels.com/photos/1662159/pexels-photo-1662159.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    width: auto;
    height: auto;
    line-height: 15vh;

}

.cimg{
    background-image: linear-gradient(rgba(150, 150, 248,.7), rgba(185, 189, 165, .5)),
    url(https://images.pexels.com/photos/1662159/pexels-photo-1662159.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.count-text-c {
    font-size: 25px;
    font-family: 'Lato', sans-serif !important;
    text-align: center;
    color: white;
    align-items: center;
}
.cb6-CI2-2{
    background: rgba(0,0,0,0.41);
    padding: 10px 10px;

}
.carousel-caption{
    font-size: 18px;
    font-family: 'Lato', sans-serif !important;
    background-color: rgba(148,150,168,0.5);
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* FIN Contenido 1 Informativo */

/*---------------****PAGINA RESULTADOS****---------------*/

.h2{
    margin-top: 130px;
    margin-bottom: 30px;
   text-align: center;
    font-family: 'Lato', sans-serif !important;
    text-decoration-color: #2A3B59;
}

.align-items-stretch {
    align-items: stretch !important;
}
.mediaI {
    display: flex;
    align-items: flex-start;
}
.p-2 {
    padding: 1.5rem !important;
}
.text-center {
    text-align: center !important;
}

.bg-primary.bg-darken-2 {
    background-color: #00A5A8 !important;
}
.bg-danger.bg-darken-22 {
    background-color: #FF6275 !important;
}
.bg-danger.bg-darken-23 {
    background-color: #FF6275 !important;
}
.bg-danger.bg-darken-24 {
    background-color: #FF6275 !important;
}
.bg-primary {
    background-color: #00B5B8 !important;
}
.bg-primary2 {
    background-color: #FF6275 !important;
}
.bg-primary3 {
    background-color: #FF976A !important;
}
.bg-primary4 {
    background-color: #10C888 !important;
}
.bg-gradient-x-primary {
    background-image: linear-gradient(to right, #00A5A8 0%, #4DCBCD 100%);
    background-repeat: repeat-x;
}
.bg-gradient-x-primary2 {
    background-image: linear-gradient(to right, #FF6275 0%, #FF9EAC 100%);
    background-repeat: repeat-x;
}
.bg-gradient-x-primary3 {
    background-image: linear-gradient(to right, #FF976A 0%, #FFC2A4 100%);
    background-repeat: repeat-x;
}
.bg-gradient-x-primary4 {
    background-image: linear-gradient(to right, #10C888 0%, #5CE0B8 100%);
    background-repeat: repeat-x;
}
.white{
    color: #FFFFFF;
}
.media-body {
    flex: 1;
}
.text-bold-400 {
    font-weight: 400;
    font-family: 'Lato', sans-serif !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.sp{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}































    /*---------------------------------------*/
.cf-f{
    padding-top: 100px;
    background-color: #335574;
}

/*----menu vertical----*/
body {
    font-family: "Lato", sans-serif;
}

/* Sidenav fijo, altura completa */
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2A3B59;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Estilo de los enlaces sidenav y el botón desplegable */
.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* Contenedor desplegable (oculto por defecto).  */
.dropdown-container {
    display: none;
    background-color: #2A3B59;
    padding-left: 8px;
}

/* Estilo el icono de caret down */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.hrv{
    color: black;
    width:100%;
    size:20px;
    background-color: white;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #2A3B59;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #2A3B59;
    color: white;
}
/* On mouse-over */
.sidebar a:hover:not(.active), .sidenav a:hover, .dropdown-btn:hover {
    background-color: #34495e;
    color: orange;
}

div.content, .main {
    margin-left: 220px;
    padding: 1px 16px;

}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: none;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.bg-c {
    background-color: #2A3B59!important;
}

.py-4 {
    padding-bottom: 1.1rem!important;
}
/*----FIN menu vertical----*/