@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.counter {
    align-content: center;
    background-color: #335574;
}
.count-text {
    font-size: 25px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
    align-items: center;
}

.cimg{
    background-image: linear-gradient(rgba(150, 150, 248,.7), rgba(185, 189, 165, .5)),
    url(https://images.pexels.com/photos/1662159/pexels-photo-1662159.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;

}
.hr{
   color: black;
    width:50%;
    size:10px;
    background-color: white;
}
.h2T{
    font-size: 50px;
    color: white;
}

.c1{
    background-color: transparent;
    border: none;
}
.divCards{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cb6-CI2{
    background: rgba(0,0,0,0.31);
    padding: 50px 50px;
}
.cit-CI2{
    max-width: 3.5em;
    margin-top: 10px;
}